@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');

*{
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}
:root{
  --wrapper-bg:hsla(0, 6%, 93%, 0.884);
  --main-bg:hsla(0, 14%, 93%, 0.959);
  --text-color:black;
  --box-shadow-color:rgba(126, 123, 123, 0.973);
}
body{
  background-color: var(--main-bg);
  overflow-x: hidden;
  font-family: 'Merriweather', serif;
}
.main-wrapper{
  max-width: 1440px;
  margin: auto;
  margin-top: 4rem;
  height: 50rem;
}
.add-task{
  padding-bottom: 1rem;
  border-radius: .4rem;
  background-color: var(--wrapper-bg);
  overflow: hidden;
  box-shadow: 0px 0px 25px 0px rgba(70, 68, 68, 0.616) inset;
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  gap: 2rem;
}
.top-section{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 0rem;
  box-shadow: 0px 0px .2rem 0px var(--box-shadow-color);
}
#input{
  border: none;
  height: 3.9rem;
  width: 40rem;
  padding-left: 0.7rem;
  border-radius: .3rem;
  background-color: inherit;
  color: var(--text-color);
  letter-spacing: .1rem;
  box-shadow: 0px 0px 4px 0px inset var(--box-shadow-color);
  font-size: 1.6rem;
  font-family: 'Merriweather', serif;
}
#input:focus{
  outline: none;
}
.btn{
  box-shadow: 0px 0px 2px 0px var(--box-shadow-color);
  border: none;
  color: white;
  padding: .9rem 2rem;
  border-radius: .2rem;
  cursor: pointer;
  font-size: 1.6rem;
  background-color: hsl(240, 78%, 42%);
  font-family: 'Merriweather', serif;
}

.btn i{
  display: none;
}
.todo-wrapper{
  color: white
}
.bottom-section{
  align-self: baseline;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: .7rem;
  height: 90%;
  overflow-y:scroll ;
  margin-left: 1.7rem;
  position: relative;
}
.bottom-section h1{
  justify-self: center;
  position: absolute;
  top: 33%;
}
.single-task{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding: 2rem 1rem;
  color: white;
  border-radius: .5rem;
  overflow-wrap: wrap;
  gap: 1.5rem;
  box-shadow: 0px 0px 4px 0px inset var( --box-shadow-color);
}
.single-task p{
  overflow-wrap: anywhere;
  font-size: 1.8rem;
  letter-spacing: .1rem;
  color: var(--text-color);
}
.fa-pen-to-square,
.fa-trash{
  cursor: pointer;
  font-size: 1.8rem;
}
.fa-pen-to-square{
  color: hsl(120, 44%, 50%);
  margin-right: .8rem;
}
.fa-trash{
  color: hsl(0, 80%, 45%);
}

@media screen and (max-width:800px) {
  html{
    font-size: 52.3%;
  }
  .bottom-section{
    margin-left: 2.2rem;
  }
  .single-task p{
    width: 80%;
    line-height: 3rem;
  }
}


@media screen and (max-width:700px) {
  .add-task{
    width: 90%;
  }
  .btn i{
    display: block;
    color: white;
    font-size: 2rem;
  }
  .btn span{
    display: none;
  }
}

@media screen and (max-width:500px) {
  
  #input{
    width: 70%;
  }
  .single-task p {
    width: 60%;
    font-size: 1.3rem;
  }
}